<?xml version="1.0"?>
<robot name="line_sensor_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="ae_board_cam" params="parent:=base_link">

    <link name="ae_board">
      <visual>
        <geometry><box size="0.122 0.022 0.01"/></geometry>
        <material name="board_green"><color rgba="0 1 0 1"/></material>
      </visual>
      <collision>
        <geometry><box size="0.122 0.022 0.01"/></geometry>
      </collision>
      <inertial>
        <mass value="0.015"/>
        <inertia ixx="1e-5" iyy="1e-5" izz="1e-5" ixy="0" ixz="0" iyz="0"/>
      </inertial>
    </link>

    <joint name="ae_board_fixed" type="fixed">
      <parent link="${parent}"/>
      <child  link="ae_board"/>
      <origin xyz="0.03 0 0.2" rpy="0 0 0"/>
    </joint>

    <!-- ── 8×1 pixel Camera ── -->
    <gazebo reference="ae_board">
      <sensor name="line_cam" type="camera">
        <pose>0 0 0  1.5708 0 0</pose>
        <camera>
          <image><width>8</width><height>1</height></image>
          <format>L8</format>
          <horizontal_fov>0.05</horizontal_fov>
          <clip><near>0.0002</near><far>0.03</far></clip>
        </camera>
        <update_rate>500</update_rate>
        <always_on>true</always_on>

        <plugin name="ros_line_cam" filename="libgazebo_ros_camera.so">
          <cameraName>line_cam</cameraName>
          <imageTopicName>/line_cam/image_raw</imageTopicName>
          <cameraInfoTopicName>/line_cam/camera_info</cameraInfoTopicName>
          <frameName>ae_board</frameName>
        </plugin>
      </sensor>
    </gazebo>

  </xacro:macro>

  <link name="base_link"/>
  <xacro:ae_board_cam parent="base_link"/>

</robot>

